[user]
name = Stanley Shyiko
email = stanley.shyiko@gmail.com

[branch "master"]
remote = origin
merge = refs/heads/master

[core]
excludesfile = ~/.gitignore_global
autocrlf = input

[apply]
# ignore whitespaces when applying a patch
whitespace = fix

[color]
ui = auto

[http]
postBuffer = 524288000

[mergetool "fugitive"]
cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[merge]
tool = fugitive
# include summaries of merged commits into newly created merge commit message
log = true

[diff]
tool = vimdiff

[alias]
d = diff HEAD
ds = diff --staged
co = checkout
glog = log --pretty=oneline --graph
st = status -s
ci = commit
lb = branch
# remove untracked files
purge = clean -df
shelve = stash
unshelve = stash apply
pl = pull
ps = push
lg = log --graph --pretty=format:'%Cred%h%Creset %Creset%Cblue%an%Creset %s %Cgreen(%cr)%Cred%d%Creset' --abbrev-commit --date=relative
lga = "!git lg --all"
serve = "!git instaweb --local -p 8000; $HOME/.dotfiles/.gitext/waitfor_sigint; git instaweb stop"
outgoing = log origin/master..HEAD
incoming = "!git fetch $1; git log HEAD..$1/master"

[url "git://gist.github.com/"]
insteadOf = "gist:"

