set tabstospaces
set tabsize 4
set autoindent

syntax "python" "\.py$" "jhbuildrc$"
header 				"^#!.*/python[-0-9._]*"
color brightblue 	"def [A-Za-z0-9_]+"
color green 		"\<(and|as|assert|break|class|continue|def|del|elif|else|except)\>"
color green 		"\<(exec|finally|for|from|global|if|import|in|is|lambda|not|or)\>"
color green 		"\<(pass|print|raise|return|try|while|with|yield)\>"
color brightmagenta "\<(True|False|None)\>"
color yellow 		"['][^']*[^\][']" "[']{3}.*[^\][']{3}"
color yellow 		"["][^"]*[^\]["]" "["]{3}.*[^\]["]{3}"
color yellow 		start=""""[^"]" end="""""
color yellow 		start="'''[^']" end="'''"
color magenta 		"\.?"
color cyan 			"#.*$"

syntax "rpmspec" "\.spec$" "\.rpmspec$"
color brightblue 	"((Icon|ExclusiveOs|ExcludeOs)[[:space:]]*:)"
color brightblue 	"((BuildArch|BuildArchitectures|ExclusiveArch|ExcludeArch)[[:space:]]*:)"
color brightblue 	"((Conflicts|Obsoletes|Provides|Requires|Requires\(.*\)|Enhances|Suggests|BuildConflicts|BuildRequires|Recommends|PreReq|Supplements)[[:space:]]*:)"
color brightblue 	"((Epoch|Serial|Nosource|Nopatch)[[:space:]]*:)"
color brightblue 	"((AutoReq|AutoProv|AutoReqProv)[[:space:]]*:)"
color brightblue 	"((Copyright|License|Summary|Summary\(.*\)|Distribution|Vendor|Packager|Group|Source\d*|Patch\d*|BuildRoot|Prefix)[[:space:]]*:)"
color brightblue 	"((Name|Version|Release|Url|URL)[[:space:]]*:)"
color brightblue 	start="^Source" end=":"
color brightblue 	start="^Patch" end=":"
color green 		"(i386|i486|i586|i686|athlon|ia64|alpha|alphaev5|alphaev56|alphapca56|alphaev6|alphaev67|sparc|sparcv9|sparc64armv3l|armv4b|armv4lm|ips|mipsel|ppc|ppc|iseries|ppcpseries|ppc64|m68k|m68kmint|Sgi|rs6000|i370|s390x|s390|noarch)"
color green 		"(ifarch|ifnarch)"
color green 		"(ifos|ifnos)"
color green 		"%(if|else|endif|define|global|undefine)"
color yellow 		"\"(\.|[^\\"])*\"|'(\.|[^\'])*'"
color brightyellow 	"%_?([A-Z_a-z_0-9_]*)"
color brightyellow 	start="%\{" end="\}"
color brightyellow 	start="%\{__" end="\}"
color brightyellow 	"$(RPM_BUILD_ROOT)\>"
color brightgreen 	"^%(build$|changelog|check$|clean$|description)"
color brightgreen 	"^%(files|install$|package|prep$)"
color brightgreen 	"^%(pre|preun|pretrans|post|postun|posttrans)"
color brightgreen 	"^%(trigger|triggerin|triggerpostun|triggerun|verifyscript)"
color cyan 			"#.*$"
color blue 			"^\*.*$"

syntax "ruby" "\.rb$"
color green 		"\<(BEGIN|END|alias|and|begin|break|case|class|def|defined\?|do|else|elsif|end|ensure|false|for|if|in|module|next|nil|not|or|redo|rescue|retry|return|self|super|then|true|undef|unless|until|when|while|yield)\>"
color yellow 		"(^|\s):[A-Za-z0-9_]+\>"
color brightcyan 	"/([^/]|(\/))*/[iomx]*" "%r\{([^}]|(\}))*\}[iomx]*"
color yellow 		""([^"]|(\"))*"" "%[QW]?\{[^}]*\}" "%[QW]?\([^)]*\)" "%[QW]?<[^>]*>" "%[QW]?\[[^]]*\]" "%[QW]?$[^$]*$" "%[QW]?\^[^^]*\^" "%[QW]?![^!]*!"
color yellow 		"'([^']|(\'))*'" "%[qw]\{[^}]*\}" "%[qw]\([^)]*\)" "%[qw]<[^>]*>" "%[qw]\[[^]]*\]" "%[qw]$[^$]*$" "%[qw]\^[^^]*\^" "%[qw]![^!]*!"
color cyan 			"(^|\s)#(!|\s).*$"
color cyan 			start="^=begin$" end="^=end$"

syntax "makefile" "[Mm]akefile$" "\.mk$"
color green 		"\<(ifeq|ifdef|ifneq|ifndef|else|endif)\>"
color brightwhite	"^[^ ]+:"
color red "[=,%]" 	"\+=|\?=|:="
color brightblue 	"$\((addprefix|patsubst|shell|sort|wildcard)\s"
color white 		"[()$]"
color yellow 		"\"(\.|[^\\"])*\"|'(\.|[^\'])*'"
color brightyellow 	"$[{(][a-zA-Z0-9_-]+[})]"
color brightyellow 	"$[@^<*?%|+]"
color brightyellow 	"$\([@^<*?%+-][DF]\)"
color magenta 		"$$"
color magenta 		"\.?"
color cyan 			"(\s|^|@)#.*$"

syntax "yaml" "\.yaml$"
header 				"^---" "%YAML"
color brightgreen 	"(^| )!!(binary|bool|float|int|map|null|omap|seq|set|str) "
color brightmagenta "\<(YES|yes|Y|y|TRUE|true|ON|on|NO|no|N|n|FALSE|false|OFF|off)\>"
color red 			":[[:space:]]" "\[" "\]" ":[[:space:]]+[|>]" "^[[:space:]]*- "
color brightyellow 	"[[:space:]][\*&][A-Za-z0-9]+"
color yellow 		"[[:space:]]*"(\.|[^"])*"($|[[:space:]])"
color yellow 		"[[:space:]]*'(\.|[^'])*'($|[[:space:]])"
color cyan 			"(^|[[:space:]])#.*$"
color brightblue 	"^---" "^\.\.\." "^%YAML" "^%TAG"

syntax "markdown" "\.(md|mkd|mkdn|markdown)$"
color cyan 			"^>.*"
color green 		" _[^_]*_"
color green 		" \*[^*]*\*"
color brightgreen 	" __[^_]*__"
color brightgreen 	" \*\*[^*]*\*\*"
color brightwhite 	"^====(=*)"
color brightwhite 	"^----(-*)"
color brightwhite 	"^#.*"
color brightgreen 	"^[\*+-] "
color brightgreen 	"^[0-9]+\. "
color brightmagenta start="<" end=">"
color brightmagenta "\[.*\]\(.*\)"
color brightmagenta "\[[^]]*\](\s*\[[^]]*\])?"
color brightmagenta "^\[.*\]:\s*.*"
color brightmagenta "!\[.*\]\(.*\)"
color cyan 			"`[^`]*`"
color cyan 			"^ .*"

syntax "css" "\.css$"
color brightblue     "."
color brightyellow  start="\{" end="\}"
color brightwhite   start=":" end="([;^\{]|$)"
color yellow    ":active|:focus|:hover|:link|:visited|:link|:after|:before|$"
color yellow    start="\/\*" end="\\*/"
color green         ";|:|\{|\}"

syntax "html" "\.html$"
color blue 			start="<" end=">"
color red 			"&[^;[[:space:]]]*;"

syntax "java" "\.java$"
color green 		"\<(boolean|byte|char|double|float|int|long|new|short|this|transient|void)\>"
color red 			"\<(break|case|catch|continue|default|do|else|finally|for|if|return|switch|throw|try|while)\>"
color cyan 			"\<(abstract|class|extends|final|implements|import|instanceof|interface|native|package|private|protected|public|static|strictfp|super|synchronized|throws|volatile)\>"
color red 			""[^"]*""
color yellow 		"\<(true|false|null)\>"
color blue 			"//.*"
color blue 			start="/\*" end="\*/"
color brightblue 	start="/\*\*" end="\*/"
color green 		"[[:space:]]+$"

syntax "patch" "\.(patch|diff)$"
color brightgreen 	"^\+.*"
color green 		"^\+\+\+.*"
color brightblue 	"^ .*"
color brightred 	"^-.*"
color red 			"^---.*"
color brightyellow 	"^@@.*"
color magenta 		"^diff.*"

syntax "sh" "\.sh$"
header 				"^#!.*/(ba|k|pdk)?sh[-0-9_]*"
color brightgreen 	"^[0-9A-Z_]+\(\)"
color green 		"\<(case|do|done|elif|else|esac|exit|fi|for|function|if|in|local|read|return|select|shift|then|time|until|while)\>"
color green 		"(\{|\}|\(|\)|\;|\]|\[|`|\\|\$|<|>|!|=|&|\|)"
color green 		"-[Ldefgruwx]\>"
color green 		"-(eq|ne|gt|lt|ge|le|s|n|z)\>"
color brightblue 	"\<(cat|cd|chmod|chown|cp|echo|env|export|grep|install|let|ln|make|mkdir|mv|rm|sed|set|tar|touch|umask|unset)\>"
color brightred 	"\$\{?[0-9A-Z_!@#$*?-]+\}?"
color cyan 			"(^|[[:space:]])#.*$"
color brightyellow 	""(\\.|[^"])*"" "'(\\.|[^'])*'"
color green 		"[[:space:]]+$"

syntax "xml" "\.([jrs]html?|sgml?|xml|xslt?)$"
color green  		start="<" end=">"
color brightblue	"<[^> ]+"
color brightblue	">"
color yellow 		start="<!DOCTYPE" end="[/]?>"
color yellow 		start="<!--" end="-->"
color red    		"&[^;]*;"

syntax "json" "\.json$"
color brightmagenta ":?[\[?[:space:]]*\".+\""
color brightblue 	"\".+\"[[:space:]]*:"
color brightyellow 	"(true|false|null)"
color brightyellow 	":[[:space:]]*\-?[0-9\.]+"
color brightyellow 	":[[:space:]]*\"\#[A-Fa-f0-9]+\""
color brightblue 	"\["
color brightblue 	"\]"
color brightred 	"\{"
color brightred 	"\}"
color brightred 	","
color brightred 	":"
color white 		"(^|[[:space:]])#.*$"
color white 		"(^|[[:space:]])//.*$"
color green 		"[[:space:]]+$"

syntax "sql" "\.sql$"
color brightblue 	"\<(create|select|delete|drop|from|where|count|sum|update|insert|replace|order|by|on)\>"
color brightred 	"".*""
color brightred 	"‘.*’"
color green 		"//.*$"

syntax "properties" "\.properties$"
color brightblue 	".*="
color white 		"="
color yellow 		"#.*"

syntax "javascript" "\.(js)$"
color white 		"^.+$"
color yellow 		"\<[-+]?([1-9][0-9]*|0[0-7]*|0x[0-9a-fA-F]+)([uU][lL]?|[lL][uU]?)?\>"
color yellow 		"\<[-+]?([0-9]+\.[0-9]*|[0-9]*\.[0-9]+)([EePp][+-]?[0-9]+)?[fFlL]?"
color yellow 		"\<[-+]?([0-9]+[EePp][+-]?[0-9]+)[fFlL]?"
color brightgreen 	"\<(break|case|catch|continue|default|delete|do|else|finally)\>"
color brightgreen 	"\<(for|function|if|in|instanceof|new|null|return|switch)\>"
color brightgreen 	"\<(switch|this|throw|try|typeof|undefined|var|void|while|with)\>"
color red 			"\<(Array|Boolean|Date|Enumerator|Error|Function|Math)\>"
color red 			"\<(Number|Object|RegExp|String)\>"
color red 			"\<(true|false)\>"
color brightyellow 	"L?\"(\\"|[^"])*\""
color brightyellow 	"L?'(\'|[^'])*'"
color red 			"\\[0-7][0-7]?[0-7]?|\\x[0-9a-fA-F]+|\\[bfnrt'"\?\\]"
color brightmagenta	start="/\*" end="\*/"
color brightmagenta	"//.*$"
