# Microsoft Microsoft Trackball Explorer hot-plugging
ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="Microsoft Microsoft Trackball Explorer®", RUN+="/usr/bin/sudo -u shyiko /usr/bin/at -f /usr/local/bin/udev-microsoft-trackball-explorer-add.sh now"
