[Unit]
Description=cpupower frequency-set

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cpupower -c all frequency-set -g performance

[Install]
WantedBy=multi-user.target
